table,
td,
th {
  border-bottom: 1px solid #B1B1B1;
  text-align: center;
  padding: 15px;
}

table {
  border-collapse: collapse;
  width: 100%;

  color: #393939;
  font-size: 14px;
}

th {
  height: 50px;
  background-color: #FAFAFA;
  font-weight: 500;
  font-size: 14px;
  color: #8c8c8c;
}

.line {
  margin-right: 10px;
  min-height: 50px;
  min-width: 3px;
  background-color: #489788;
}

.line2 {
  margin-top: 5px;
  height: 2px;
  width: auto;
  background-color: #e6e5e5;
}

.line3 {

  height: 30px;
  width: 2px;
  background-color: #cecece;
}

.title {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 16px;
  font-weight: 600;
  color: #393939;
}

.filter {
  border-bottom: 1px solid #e6e5e5;
}

.filterButton {
  background-color: #ffffff;
  border: none;
  color: #535353;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-weight: lighter;
  cursor: pointer;
  transition-duration: 0.4s;
}

.filterButton:hover {
  background-color: #f5f5f5;
  border: none;
  color: #535353;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;

  cursor: pointer;
}

.filterButtonActive {
  background-color: #ffffff;
  border: none;
  color: #535353;
  padding: 15px 32px;
  text-align: center;
  border-bottom: 3px solid #489788;
  display: inline-block;
  cursor: pointer;
}

.button1 {
  background-color: #ffffff;
  border: none;
  color: #535353;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 15px;
  cursor: pointer;
  transition-duration: 0.4s;
}

.button2 {
  background-color: #ffffff;
  border: none;
  color: #535353;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 15px;
  cursor: pointer;
  transition-duration: 0.4s;
}

.button2:hover {
  background-color: #f5f5f5;
  border: none;
  color: #535353;
  padding: 15px 32px 12px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 15px;
  cursor: pointer;
}



.row {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.space {
  margin-right: 80px;
}

.tab {
  margin-right: 50px;
}

.space2 {
  margin: 10px 10px 0 210px;
  height: 100%;
}

.space3 {
  padding: 15px 20px 15px 20px;
}

.space4 {
  padding: 15px 20px 15px 30px;
  color: #535353;
  font-weight: 600;
  font-size: 14px;
}

.space5 {
  margin-left: 5px;
  margin-right: 10px;
}

.green {
  margin-left: 10px;
  background-color: #00ca07;
  color: #ffffff;
  font-size: 13px;
  padding: 3px 8px 3px 8px;
  border-radius: 5px;
}

.Approved {
  background-color: #00CA07;
  color: #ffffff;
  font-size: 13px;
  padding: 10px 2px;
  border-radius: 5px;
  margin-left: 20px;
  margin-right: 20px;
}

.yellow {
  margin-left: 10px;
  background-color: #ecbf21;
  color: #ffffff;
  font-size: 13px;
  padding: 3px 8px 3px 8px;
  border-radius: 5px;
}

.Pending {
  background-color: #ecbf21;
  color: #ffffff;
  font-size: 13px;
  padding: 10px 20px;
  border-radius: 5px;
  margin-left: 10px;
  margin-right: 10px;
}

.red {
  margin-left: 10px;
  background-color: #ca0700;
  color: #ffffff;
  font-size: 13px;
  padding: 3px 8px 3px 8px;
  border-radius: 5px;
}

.gray {
  margin-left: 10px;
  background-color: #b1b1b1;
  color: #ffffff;
  font-size: 13px;
  padding: 3px 8px 3px 8px;
  border-radius: 5px;
}

.Denied {
  background-color: #B1B1B1;
  color: #ffffff;
  font-size: 13px;
  padding: 10px 2px;
  border-radius: 5px;
  margin-left: 20px;
  margin-right: 20px;
}

.Invalid {
  background-color: #ca0700;
  color: #ffffff;
  font-size: 13px;
  padding: 10px 2px;
  border-radius: 5px;
  margin-left: 20px;
  margin-right: 20px;
}

.black {
  color: #000000;
}

.spaceTitle {
  margin-bottom: 20px;
}

.spaceTitle2 {
  margin-bottom: 10px;
  color: #000000;
}

.btw {
  justify-content: space-between;
}

.searchButton {
  background-color: #489788;
  border: none;
  border-radius: 5px;
  color: #ffffff;
  padding: 5px;
  margin-right: 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 15px;
  cursor: pointer;
}

.grid-container {
  background-color: #FAFAFA;
  font-size: 14px;
  border-bottom: 1px solid #B1B1B1;
  justify-content: space-between;
  color: #393939;
}

.grid-item {
  background-color: #FAFAFA;
  text-align: center;
  padding: 15px;


}

.lastgrid-container {
  display: grid;
  grid-template-columns: 100px 150px 150px 200px 200px 250px 150px 250px 150px 100px;
  background-color: #7f7f7f28;
  font-size: 14px;
  justify-content: space-between;
  color: #393939;
}

.lastgrid-item {
  text-align: center;
  padding: 15px;
}

.top {
  margin-top: 5px;
  color: #8C8C8C;
}

.apbutton {
  padding: 5px;
  background: #000;
}

.total {
  font-weight: 600;
  color: #777777;
}

.transactionTable {
  margin-top: 5px;
  margin-bottom: 20px;
  width: 100%;
  border-collapse: collapse;
  text-align: center;

  background-color: #FAFAFA;
  font-size: 14px;
}

.ltb {
  background-color: #7f7f7f13;
  font-weight: 600;
  color: #535353;
  border-bottom: 1px solid #7f7f7f23;
}

tfoot {
  border-top: 2px solid #B1B1B1;
}

.calendarDate {
  height: 100%;
  border: 0;
  font-size: 14px;
  font-family: 'Rubik', sans-serif;
  margin: 0;
  padding: 5px;
  box-sizing: border-box;
}