.line {
    margin-right: 10px;
    min-height: 50px;
    min-width: 3px;
    background-color: #489788;
  }
  
  .line2 {
    margin-top: 5px;
    height: 2px;
    width: auto;
    background-color: #cecece;
  }
  
  .line3 {
    height: 30px;
    width: 2px;
    background-color: #cecece;
  }
  
  .title {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 16px;
    font-weight: 600;
    color: #393939;
  }
  
  .button {
    background-color: #ffffff;
    border: none;
    color: #535353;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    font-weight: lighter;
    cursor: pointer;
    transition-duration: 0.4s;
  }
  
  .button:hover {
    background-color: #f5f5f5;
    border: none;
    color: #535353;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
  
    cursor: pointer;
  }
  
  .button1 {
    background-color: #ffffff;
    border: none;
    color: #535353;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    cursor: pointer;
    transition-duration: 0.4s;
  }
  
  .button2 {
    background-color: #ffffff;
    border: none;
    color: #535353;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    cursor: pointer;
    transition-duration: 0.4s;
  }
  
  .button2:hover {
    background-color: #f5f5f5;
    border: none;
    color: #535353;
    padding: 15px 32px 12px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    cursor: pointer;
  }
  
  
  
  .row {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  
  .space {
    margin-right: 80px;
  }
  
  .tab {
    margin-right: 50px;
  }
  
  .tab1 {
    margin-right: 95px;
  }
  
.space2 {
    margin: 10px 10px 0 210px;
    height: 100%;
  }
  
  .space3 {
    padding: 15px 20px 15px 20px;
  }
  
  .space4 {
    padding: 15px 20px 15px 20px;
    color: #535353;
    font-weight: 600;
    font-size: 14px;
  }
  
  .green1 {
    background-color: #00ca07;
    color: #ffffff;
    font-size: 13px;
    padding: 10px 2px;
    border-radius: 5px;
    margin-left: 20px;
    margin-right: 20px;
  }
  
  .yellow1 {
    background-color: #ecbf21;
    color: #ffffff;
    font-size: 13px;
    padding: 10px 2px;
    border-radius: 5px;
    margin-left: 20px;
    margin-right: 20px;
  }
  
  .yellow {
    background-color: #ecbf21;
    color: #ffffff;
    font-size: 13px;
    font-weight: 500;
    padding: 5px 10px;
    border-radius: 5px;
    margin-left: 5px;
  }
  
  .spaceTitle {
    margin-bottom: 20px;
  }
  
  .top {
    margin-top: 5px;
  }
  
  .pagination {
    display: inline-block;
  }
  
  .pagination a {
    color: black;
    border: 1px #489788;
  
    float: left;
    padding: 8px 16px;
    text-decoration: none;
  }
  
  .pagination a.active {
    background-color: #489788;
    color: white;
    border-radius: 5px;
  }
  
  .pagination a:hover:not(.active) {
    background-color: #ddd;
    border-radius: 5px;
  }
  
  .topcen {
    margin-top: 20px;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
  }
  
  .btw {
    justify-content: space-between;
  }

  .apbutt {
    background-color: #389483;
    border: none;
    border-radius: 5px;
    color: #ffffff;
    width: 80px;
    height: 35px;
    text-align: center; 
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    cursor: pointer;
    transition-duration: 0.4s;
  }
  
  .apbutt:hover {
    background-color: #009105;
    border: none;
    color: #ffffff;
    border-radius: 5px;
    width: 80px;
    height: 35px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    cursor: pointer;
  }
  
  .dnbutt {
    background-color: #A6431E;
    border: none;
    border-radius: 5px;
    color: #ffffff;
    width: 80px;
    height: 35px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    cursor: pointer;
    transition-duration: 0.4s;
  }
  
  .dnbutt:hover {
    background-color: #8f0500;
    border: none;
    color: #ffffff;
    border-radius: 5px;
    width: 80px;
    height: 35px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    cursor: pointer;
  }

  .top2 {
    margin-top: 20px;
    margin-bottom: 10px;
  }

  .end {
    margin-inline: auto;
  }
  
  .tab2 {
    margin-right: 10px;
  }

  .Approved {
    background-color: #00CA07;
    border: none;
    border-radius: 5px;
    color: #ffffff;
    width: 80px;
    height: 35px;
    text-align: center;
    display: inline-block;
    font-size: 13px;
    margin-left: 10px;
    margin-right: 10px;
  }

  .Pending {
    background-color: #ecbf21;
    border: none;
    border-radius: 5px;
    color: #ffffff;
    width: 80px;
    height: 35px;
    text-align: center;
    display: inline-block;
    font-size: 13px;
    margin-left: 10px;
    margin-right: 10px;
  }

  .Invalid {
    background-color: #ca0700;
    border: none;
    border-radius: 5px;
    color: #ffffff;
    width: 80px;
    height: 35px;
    text-align: center;
    display: inline-block;
    font-size: 13px;
    margin-left: 10px;
    margin-right: 10px;
  }

  .Denied {
    background-color: #B1B1B1;
    border: none;
    border-radius: 5px;
    color: #ffffff;
    width: 80px;
    height: 35px;
    text-align: center;
    display: inline-block;
    font-size: 13px;
    margin-left: 10px;
    margin-right: 10px;
  }