@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400&display=swap");

* {
  font-family: "Rubik", sans-serif;
}

.ttline {
  margin-right: 10px;
  min-height: 50px;
  min-width: 3px;
  background-color: #489788;
}

.ttspace {
  margin: 20px 20px 20px 220px;
}

.title {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 16px;
  font-weight: 600;
  color: #393939;
  margin-bottom: 20px;
}

.content {
  padding: 15px 20px 15px 20px;
  box-shadow: 0px 4px 4px 0 rgba(0, 0, 0, 0.25);
}

.tt {
  font-size: 15px;
  font-weight: 600;
  color: #535353;
  padding-bottom: 15px;
  border-bottom: 1px solid #e6e5e5;
}

.col {
  display: grid;
  grid-template-columns: 200px 200px 200px;
  font-size: 14px;
  display: flex;
  background: #f00606;
  color: #535353;
}

.txt {
  font-size: 14px;
  margin-left: 10px;
  border: solid#CECECE 1px;
  border-radius: 5px;
  padding: 10px;
  height: 14px;
  
}

.minitxt {
  font-size: 14px;
  margin-left: 10px;
  border: solid#CECECE 1px;
  border-radius: 5px;
  padding: 10px;
  height: 14px;
  width: 45px;
}

.gridContainer {
  display: grid;
  grid-template-columns: auto auto auto;
  padding-bottom: 10px;
}

.gridContainer > div {
  text-align: end;

  font-size: 14px;
}

.txtblk {
  width: 200px;
  height: auto;
}

.minitxtblk{
    margin-left: 10px;
}


.minigrid {
    display: grid;
    grid-template-columns: auto auto;
    justify-content: end;
    flex-direction: column;
    margin-right: 5px;
    
  }

.item {
  display: flex;
  align-items: center;
}


.con{
    background: #ffffff;
    padding: auto;
    display: flex;
    align-items: center;
}

