.line {
  margin-right: 10px;
  min-height: 50px;
  min-width: 3px;
  background-color: #489788;
}

.line2 {
  margin-top: 5px;
  height: 2px;
  width: auto;
  background-color: #e6e5e5;
}

.line3 {
  height: 30px;
  width: 2px;
  background-color: #cecece;
}

.title {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 16px;
  font-weight: 600;
  color: #393939;
}

.button {
  background-color: #ffffff;
  border: none;
  color: #535353;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 15px;
  font-weight: lighter;
  cursor: pointer;
}

.button:hover {
  background-color: #f5f5f5;
  border: none;
  color: #535353;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 15px;
  cursor: pointer;
}

.button1 {
  background-color: #ffffff;
  border: none;
  color: #535353;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 15px;
  cursor: pointer;
}

.button.active {
  background-color: #ffffff;
  border: none;
  color: #535353;
  padding: 15px 32px;
  text-align: center;
  border-bottom: 3px solid #489788;
  display: inline-block;
  font-size: 15px;
  cursor: pointer;
}

.button2:hover {
  background-color: #f5f5f5;
  border: none;
  color: #535353;
  padding: 15px 32px 12px 32px;
  text-align: center;

  display: inline-block;
  font-size: 15px;
  cursor: pointer;
}

.transactionTable {
  margin-top: 5px;
  margin-bottom: 20px;
  width: 100%;
  border-collapse: collapse;
  text-align: center;
  padding-left: 5px;
  padding-right: 5px;
  background-color: #fafafa;
  font-size: 14px;
}

.row {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.space {
  margin-right: 80px;
}

.tab {
  margin-right: 50px;
}

.space2 {
  margin: 85px 20px;
}

.space3 {
  padding: 15px 20px 15px 20px;
}

.space4 {
  padding: 15px 20px 15px 30px;
  color: #535353;
  font-weight: 600;
  font-size: 14px;
}

.space5 {
  margin-left: 5px;
  margin-right: 10px;
}

.green {
  margin-left: 10px;
  background-color: #00ca07;
  color: #ffffff;
  font-size: 13px;
  padding: 3px 8px 3px 8px;
  border-radius: 5px;
}

.green1 {
  background-color: #00ca07;
  color: #ffffff;
  font-size: 13px;
  padding: 10px 2px;
  border-radius: 5px;
  margin-left: 20px;
  margin-right: 20px;
}

.red {
  margin-left: 10px;
  background-color: #ca0700;
  color: #ffffff;
  font-size: 13px;
  padding: 3px 8px 3px 8px;
  border-radius: 5px;
}

.red1 {
  background-color: #ca0700;
  color: #ffffff;
  font-size: 13px;
  padding: 10px 2px;
  border-radius: 5px;
  margin-left: 20px;
  margin-right: 20px;
}

.black {
  color: #000000;
}

.yellow {
  margin-left: 10px;
  background-color: #ecbf21;
  color: #ffffff;
  font-size: 13px;
  padding: 3px 8px 3px 8px;
  border-radius: 5px;
}

.Pending {
  background-color: #ecbf21;
  color: #ffffff;
  font-size: 13px;
  padding: 10px 20px;
  border-radius: 5px;
  margin-left: 10px;
  margin-right: 10px;
}

.Approved {
  background-color: #00ca07;
  border: none;
  border-radius: 5px;
  color: #ffffff;
  padding: 10px 20px;
  text-align: center;

  font-size: 13px;
  margin-left: 10px;
  margin-right: 10px;
}

.gray {
  margin-left: 10px;
  background-color: #b1b1b1;
  color: #ffffff;
  font-size: 13px;
  padding: 3px 8px 3px 8px;
  border-radius: 5px;
}

.spaceTitle {
  margin-bottom: 20px;
}

.spaceTitle2 {
  margin-bottom: 10px;
  color: #000000;
}

.btw {
  justify-content: space-between;
}

.top {
  margin-top: 5px;
  color: #8c8c8c;
}

.apbutton {
  padding: 5px;
  background: #000;
}

.total {
  font-weight: 600;
  color: #535353;
}

.ltb {
  background-color: #7f7f7f23;
  font-weight: 600;
  color: #535353;
  border-bottom: 1px solid #7f7f7f23;
}

.filter {
  border-bottom: 1px solid #e6e5e5;
  display: flex;
  overflow: auto;
}

.filterButton {
  background-color: #ffffff;
  border: none;
  color: #535353;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-weight: lighter;
  cursor: pointer;
  transition-duration: 0.4s;
}

.filterButton:hover {
  background-color: #f5f5f5;
  border: none;
  color: #535353;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;

  cursor: pointer;
}

.filterButtonActive {
  background-color: #ffffff;
  border: none;
  color: #535353;
  padding: 15px 32px;
  text-align: center;
  border-bottom: 3px solid #489788;
  display: inline-block;
  cursor: pointer;
}

.calendarDate {
  height: 100%;
  border: 0;
  font-size: 14px;
  font-family: "Rubik", sans-serif;
  margin: 0;
  padding: 5px;
  box-sizing: border-box;
}

.SearchButton {
  background-color: #489788;
  border: none;
  border-radius: 5px;
  color: #ffffff;
  padding: 5px;
  margin-right: 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 15px;
  cursor: pointer;
}

table {
  overflow: auto;
  .th {
    padding: 0;
    background: #ff0000;
  }
}

.searchButton {
  background-color: #489788;
  border: none;
  border-radius: 5px;
  color: #ffffff;
  padding: 5px;
  margin-right: 32px;
  text-align: center;
  text-decoration: none;
  font-size: 15px;
  cursor: pointer;
}

.pagination {
  display: inline-block;
}

.pagination button {
  background-color: unset;
  color: black;
  border: 1px #489788;

  float: left;
  padding: 8px 16px;

  font-size: 16px;
}

.pagination button.active {
  background-color: #489788;
  color: white;
  border-radius: 5px;
}

.pagination button:hover:not(.active) {
  background-color: #dddddd;
  border-radius: 5px;
}

.end {
  margin-inline: auto;
}

<<<<<<< HEAD
.imgPopup {
  max-width: 300px;
  min-height: 320px;
  margin-top: 10px;
=======
.buttonLayout {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.dateLayout {
  display: flex;
  justify-content: space-between;
}

.searchContainer {
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media only screen and (max-width: 768px) {
  .filterContainer {
    display: flex;
  }

  .button1 {
    padding: 15px;
  }

  .searchButton {
    margin-right: 15px;
  }
}

@media only screen and (max-width: 600px) {
  .searchContainer {
    display: flex;
    flex-direction: column;
    padding: 20px;
  }

  .filterContainer {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  .searchLayout {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 15px;
  }

  .searchButton {
    width: 100%;
    margin: 0 15px;
    display: flex;
    justify-content: center;
  }
>>>>>>> 098bf9f406ad41dd02e418981f123c682d45a72a
}
