@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400&display=swap");

* {
  font-family: "Rubik", sans-serif;
}

.ttline {
  margin-right: 10px;
  min-height: 50px;
  min-width: 3px;
  background-color: #489788;
}

.ttspace {
  margin: 85px 20px;
}

.title {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 16px;
  font-weight: 600;
  color: #393939;
  margin-bottom: 20px;
}

.content {
  padding: 20px;
  box-shadow: 0px 4px 4px 0 rgba(0, 0, 0, 0.25);
  margin-bottom: 20px;
}

.tt {
  font-size: 15px;
  font-weight: 600;
  color: #535353;
  padding-bottom: 15px;
  border-bottom: 1px solid #e6e5e5;
}

.col {
  display: grid;
  grid-template-columns: 200px 200px 200px;
  font-size: 14px;
  display: flex;
  background: #f00606;
  color: #535353;
}

.txt {
  display: flex;
  font-size: 14px;
  border: none;
  width: 100%;
  align-items: center;
  background: none;
  padding: 2px 0 2px 5px;
}

.txt:focus {
  outline: none;
}

.minitxt {
  font-size: 14px;
  align-items: center;
  text-align: center;
  border: solid#CECECE 1px;
  border-radius: 5px;
  padding: 2px 2px;
  height: 100%;
  width: 40px;
}

.gridContainer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin-top: 20px;
}

.gridContainer > div {
  text-align: end;
  font-size: 14px;
}

.txtblk {
  height: auto;
  margin-right: 20px;
}

.minitxtblk {
  margin: 0 15px 0 23px;
}

.minigrid {
  display: flex;
  align-items: center;
  height: 100%;
}

.item {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
  margin: 10px;
  align-items: center;
}

.rdStatus {
  width: 100%;
  border: none;
  background: none;
  cursor: pointer;
  padding: 2px 0;
}

.con {
  background: #ffffff;
  padding: auto;
  display: flex;
  align-items: center;
}

.submitButton {
  background-color: #389483;
  border: none;
  border-radius: 5px;
  color: #ffffff;
  width: 80px;
  height: 35px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 15px;
  cursor: pointer;
  transition-duration: 0.4s;
}

.submitButton:hover {
  background-color: #009105;
  border: none;
  color: #ffffff;
  border-radius: 5px;
  width: 80px;
  height: 35px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 15px;
  cursor: pointer;
}

.cancelButton {
  background-color: #a6431e;
  border: none;
  border-radius: 5px;
  color: #ffffff;
  width: 80px;
  height: 35px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 15px;
  cursor: pointer;
  transition-duration: 0.4s;
}

.cancelButton:hover {
  background-color: #8f0500;
  border: none;
  color: #ffffff;
  border-radius: 5px;
  width: 80px;
  height: 35px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 15px;
  cursor: pointer;
}

.inputDiv {
  display: flex;
  align-items: center;
  border: solid#CECECE 1px;
  border-radius: 5px;
  width: 150px;
  padding: 4px;
}

.test {
  width: 100%;
  height: 100%;
  border: 0;
  font-size: 14px;
  font-family: "Rubik", sans-serif;
  padding: 1px;
  align-items: center;
}
.test input {
  width: 100%;
  height: 100%;
  border: 0;
  font-size: 14px;
  font-family: "Rubik", sans-serif;
  align-items: center;
  padding-left: 4px;
}

.react-datepicker-wrapper {
  padding: 0;
}

.svgLayout {
  padding-right: 4px;
}

.btnContainer {
  display: flex;
  justify-content: end;
}

@media only screen and (max-width: 1024px) {
  .gridContainer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 20px;
  }
}

@media only screen and (max-width: 768px) {
  .gridContainer {
    display: grid;
    grid-template-columns: 1fr;
    margin-top: 20px;
  }
}

.svgEdit {
  margin-right: 5px;
}
